.create-gifos {
  width: 100%;
  height: auto;
  padding-top: 100px;
}
.create-gifos__main-container {
  width: 100%;
}
.create-gifos__icon-camera {
  display: flex;
  position: absolute;
  top: calc(65% - 130px);
  left: calc(-27% - 61px);
}
.create-gifos__icon-camera .create-gifos__camera {
  width: 123px;
  height: 162px;
}
.create-gifos__icon-camera .create-gifos__light {
  width: 91px;
  height: 151px;
  margin-left: 2px;
  margin-top: 5px;
}
.create-gifos__main {
  margin: 0 auto;
  position: relative;
  padding-top: 134px;
  padding-bottom: 127px;
  width: 696px;
  max-width: 688px;
  height: auto;
  border: 1px solid #572EE5;
}
body.dark .create-gifos__main {
  border: 1px solid #FFFFFF;
}
.create-gifos__main h2 {
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  font-size: 25px;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
}
.create-gifos__main h2 span {
  color: #50E3C2;
}
.create-gifos__main p {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: 29px;
}
body.dark .create-gifos__main p {
  color: #FFFFFF;
}
.create-gifos__icon-movie {
  width: 142px;
  height: 88px;
  position: absolute;
  top: calc(106% - 44px);
  left: calc(121% - 71px);
}
.create-gifos__steps-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 19px;
}
.create-gifos__steps {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #572EE5;
  margin-right: 13px;
  margin-left: 13px;
}
.create-gifos__steps span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #572EE5;
}
.create-gifos__steps:first-child {
  margin-left: 0px;
}
.create-gifos__steps:last-child {
  margin-left: 12px;
  margin-right: 0px;
}
body.dark .create-gifos__steps {
  background: transparent;
  border: 1px solid #FFFFFF;
}
body.dark .create-gifos__steps span {
  color: #FFFFFF;
}
.create-gifos__steps--highlighted {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #572EE5;
  border-radius: 50%;
  background-color: #572EE5;
  margin-right: 13px;
  margin-left: 13px;
}
.create-gifos__steps--highlighted span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}
.create-gifos__steps--highlighted:first-child {
  margin-left: 0px;
}
.create-gifos__steps--highlighted:last-child {
  margin-left: 12px;
  margin-right: 0px;
}
body.dark .create-gifos__steps--highlighted {
  background: #FFFFFF;
}
body.dark .create-gifos__steps--highlighted span {
  color: #000000;
}
.create-gifos__purple-bar {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 795px;
  height: 7px;
  background-color: #572EE5;
  border-radius: 10px;
}
body.dark .create-gifos__purple-bar {
  background-color: #FFFFFF;
}
.create-gifos .frames {
  display: block;
  width: 27px;
  height: 25px;
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  position: absolute;
}
.create-gifos .create-gifos__first-frame {
  top: 20px;
  left: 20px;
}
.create-gifos .create-gifos__second-frame {
  transform: rotate(-270deg);
  right: 20px;
  top: 20px;
}
.create-gifos .create-gifos__third-frame {
  transform: rotate(-90deg);
  bottom: 20px;
  left: 20px;
}
.create-gifos .create-gifos__last-frame {
  transform: rotate(-180deg);
  right: 20px;
  bottom: 20px;
}
.create-gifos .create-gifos__start {
  width: 127px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 26px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #572EE5;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #572EE5;
  cursor: pointer;
}
.create-gifos .create-gifos__start:hover {
  color: #FFFFFF;
  background-color: #572EE5;
}
body.dark .create-gifos .create-gifos__start {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
body.dark .create-gifos .create-gifos__start:hover {
  background-color: #FFFFFF;
  color: #000000;
}
.create-gifos .create-gifos__video-container {
  width: 480px;
  height: 320px;
  z-index: 999;
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 240px);
}
.create-gifos .create-gifos__video-container .create-gifos__video {
  width: 100%;
  height: 100%;
}
.create-gifos .create-gifos__timer {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
  position: absolute;
  top: 107%;
  right: 0;
  text-transform: uppercase;
}
body.dark .create-gifos .create-gifos__timer {
  color: #FFFFFF;
}

.iconsContainer {
  position: absolute;
  top: 11px;
  right: 27px;
  display: flex;
  z-index: 999999;
}

.downloadContainer,
.linkContainer {
  width: 32px;
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #000000;
  opacity: 0.7;
}

.downloadContainer:hover,
.linkContainer:hover {
  opacity: 1;
}

.linkContainer {
  margin-left: 10px;
  margin-right: 12px;
}

.share-mg {
  bottom: 0;
  left: 0;
  position: relative;
}

/*# sourceMappingURL=section-creargifo.css.map */
