/* Error: Undefined variable.
 *    ,
 * 74 |             border: 1px solid $color-morado;
 *    |                               ^^^^^^^^^^^^^
 *    '
 *   scss\seection-creargifo-v1.scss 74:31  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 74 \2502              border: 1px solid $color-morado;\d\a    \2502                                ^^^^^^^^^^^^^\a    \2575 \a   scss\\seection-creargifo-v1.scss 74:31  root stylesheet";
}
