.creargifos{
    padding: 100px 20px 26px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: auto;
    .camara{
        display: flex;
        padding: 0 30px 0 0;
        width: 175px;
        .grabadora{
            .noc{
                display: none;
            }
        }
        .luz{
            padding-top: 20px;
        }
    }
    .proceso{
        display: flex;
        width: 688px;
        height: 470px;
        flex-wrap: wrap;
        justify-content: center;
           
        .cuadro{
            width: 100%;
            display: flex;
            height: 390px;
            flex-direction: column;
            border: 1px solid $color-morado;
            align-items: center;

            .top{
                display: flex;
                justify-content: space-between;
                width: 648px;
                height: 25px;
                margin-top: 24px;
                .borde{
                    width: 27px;
                    height: 25px;
                }
                .left{
                    border-top: 2px solid $color-aguamarina;
                    border-left: 2px solid $color-aguamarina;
                }
                .right{
                    border-top: 2px solid $color-aguamarina;
                    border-right: 2px solid $color-aguamarina;
                }
            }
            .text{
                margin: auto;
                .title{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 25px;
                    color: $color-morado;
                    text-align: center;
                    line-height: 35px;

                    .gifos{
                        color: $color-aguamarina;
                    }
                }
                .parrafo{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: $color-negro;
                    text-align: center;
                    line-height: 29px;
                }
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                width: 648px;
                height: 25px;
                margin-bottom: 24px;
                .borde{
                    width: 27px;
                    height: 25px;
                }
                .left{
                    border-bottom: 2px solid $color-aguamarina;
                    border-left: 2px solid $color-aguamarina;
                }
                .right{
                    border-bottom: 2px solid $color-aguamarina;
                    border-right: 2px solid $color-aguamarina;
                }
            }
        }    
        .pasos{
            display: flex;
            order: 2;
            justify-content: space-between;
            width: 145px;
            margin: 24px 0 19px 0;
            .paso{
                border: 1px solid $color-morado;
                border-radius: 40px;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 18px;
                color: $color-morado;
                text-align: center;
            }
        }   
    } 
    .pelicula{
        padding: 0 0 0 67px;
        .diu{
            margin-top: 378px;
        }
        .noc{
            display: none;
        }
    } 
    .line{
        margin: 0 150px 20px 150px;
        height: 7px;
        width: 795px;
        background: $color-morado;
        border-radius: 5px;
    }
    .button{
        width: 127px;
        height: 50px;
        border: 1px solid $color-morado;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 13px;
        color: $color-morado;
        letter-spacing: 0;
        text-align: center;
        cursor: pointer;

        &:hover{
            background: $color-morado;
            color: $color-blanco;
        }
    }  
}
.darkmode{
    .creargifos{
        .camara{
            .grabadora{
                .noc{
                    display: block;
                }
                .diu{
                    display: none;
                }
            }
            .luz{
                padding-top: 20px;
            }
        }
        .proceso{
               
            .cuadro{
                border: 1px solid $color-blanco;

                .text{
                    .title{
                        color: $color-blanco;
                    }
                    .parrafo{
                        color:$color-blanco;
                    }
                }
            }    
            .pasos{
                .paso{
                    border: 1px solid $color-blanco;
                    color: $color-blanco;
                }
            }   
        } 
        .pelicula{
            .noc{
                display: block;
                margin-top: 378px;
            }
            .diu{
                display: none;
            }
        } 
        .line{
            background: $color-blanco;
        }
        .button{
            border: 1px solid $color-blanco;
            color: $color-blanco;
            &:hover{
                background: $color-blanco;
                color: $color-fondo;
            }
        }   
    }
}
.share-mg{
    bottom: 0;
    left: 0;
    position: fixed;
}