$color-morado : #572EE5;
$color-negro : black;
$color-blanco : white;
$color-aguamarina : #50E3C2;
$color-marfil : #F3F5F8;
$color-gris : #CDD6E0;
$color-seccion : #9CAFC3;
$color-fondo :  #37383C;
$color-gris-oscuro : #222326;